/*file created in command line*/
body{
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.header{
	color: #ffffff;
	background: #0dc8e5;
}

.navbar{
	color: #0dc8e5;
	background: #ffffff;
}

#container{
	max-width: 600px;
	margin: 0 auto;
	background: #232323;
}

.row{
	margin-right: auto;
	margin-left: auto;
}

h1 {
	text-align: center;
	color: #ffffff;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0; /*addes padding to top and bottom only*/
}

#colorDisplay{
	font-size: 200%;
}

.square{
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

.fadeOut{
	background: #232323;
}

#message{
	color: #000000;
	display: inline-block;
	width: 20%;
}

#stripe{
	background: #ffffff;
	height: 30px;
	text-align: center;
}

button{
	border: none;
	background: #ffffff;
	text-transform: uppercase;
	height: 100%;/*sets height to 100% of containing element*/
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 2.0;
}

button:hover {
	color: white;
	background: steelblue;
}

.selected{
	color: white;
	background: steelblue;
}
