/*file created in command line*/
.header{
	color: #ffffff;
	background: #0dc8e5;
}

.divider{
	color: #0dc8e5;
}

.container{
	background: #000000;

}

.row{
	max-width: 33%;
}

.square{
	background: #ffffff;
	color: #000000;
}