/*file created in command line*/
.header{
	color: #ffffff;
	background: #0dc8e5;
}

.divider{
	color: #0dc8e5;
}

.container{
	background: #000000;
}

.row{
	max-width: 40%;
	background: #000000;
	margin-right: auto;
	margin-left: auto;
}

.square{
	background: #ffffff;
	color: #000000;
	margin: 3px;
}